<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">


		<!--<Component Id="MyServiceComponent" Guid="{D0D2802E-8198-4B14-85C2-AAB6D411B99B}">
			<File Source="YourServiceExecutable.exe" />-->

			<!-- Service installation --><!--
			<ServiceInstall
				Id="MyServiceInstall"
				Type="ownProcess"
				Vital="yes"
				Name="YourServiceName"
				DisplayName="Your Service Display Name"
				Description="Description of your service"
				Start="auto"
				Account="LocalSystem"
				ErrorControl="normal"
				Interactive="no">
			</ServiceInstall>

			--><!-- Service control --><!--
			<ServiceControl
				Id="MyServiceControl"
				Name="YourServiceName"
				Start="install"
				Stop="both"
				Remove="uninstall"
				Wait="yes">
			</ServiceControl>
		</Component>-->


		<Component Id="RegistryEntries" Guid="{28BD459E-0949-4006-A9DD-4F6B5382A3F2}">
			<RegistryKey Root="HKLM" Key="Software\YourCompany\YourApplication">
				<RegistryValue Name="AccountKey" Value="[AccountKey]" Type="string" />
				<RegistryValue Name="DeviceType" Value="[DeviceType]" Type="string" />
				<RegistryValue Name="ServiceUrl" Value="[ServiceUrl]" Type="string" />
			</RegistryKey>
		</Component>


		<Component Id="AppExe" Guid="{72EBEC3D-1340-4BDA-BD3D-098838D4551F}">
        <File Source="App.exe" />
      </Component>

	  <Component Id="MyAppShortcut" Guid="{CA317A10-41B1-48B6-A46A-3B88203BB1C7}">
			<!-- Define your files, registry entries, etc. -->

			<Shortcut Id="ApplicationStartMenuShortcut"
						Name="WixTutorialPackage"
						Description="Your App Description"
						Target="[INSTALLFOLDER]App.exe"
					     WorkingDirectory="INSTALLFOLDER"/>
	  </Component>
		
    </ComponentGroup>
  </Fragment>
</Wix>
